<p-table #dt [columns]="selectedColumns" [value]="guests" [rows]="10" [paginator]="true" [globalFilterFields]="['name','lastname','phone','email']"
         [rowHover]="true" dataKey="id"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
  <ng-template pTemplate="caption">
    <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                   selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" placeholder="Choose Columns"></p-multiSelect>
    <div class="p-d-flex p-ai-center p-jc-between">
      <h5 class="p-m-0">Manage Guests</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Filter..." />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-guest let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{guest[col.field]}}
      </td>
      <td *ngIf="edit">
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="onEditGuest(guest)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDeleteGuest(guest)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
      In total there are {{guests ? guests.length : 0 }} guests.
    </div>
  </ng-template>
</p-table>
