<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

 <ng-container>
   <app-guest-list [guests]="guests"
                   [edit]="true"
                   (editGuest)="editGuest($event)"
                   (deleteGuest)="deleteGuest($event)"
                   >
   </app-guest-list>
 </ng-container>
</div>

<p-dialog [(visible)]="guestDialog" [style]="{width: '450px'}" header="Guest Details" [modal]="true" styleClass="p-fluid">
  <ng-container>
    <guest-form></guest-form>
  </ng-container>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


